* {
  box-sizing: border-box;
}

body {
  background-color: #f5f8fa;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-weight: 300;
  line-height: 1.6;
  color: #212529;
  text-align: left;
}


#right-col{
  width: 10vw;
}

#navHeader {
  background-color: rgb(30, 0, 78);
  filter: drop-shadow(0 0 3px rgb(61, 61, 61));
}
/*
.menu-link {
  color: #b60a0a;
}
.nav-menu:hover {
  color: #4cb4fa;
}

.menu-link:active {
  color: #00d9ff;
}
*/
.logoHeader {
  width: 40px;
  transition: 0.5s;
}

.logoHeader:hover {
  scale: 1.1;
}

.nomelogo {
  margin-left: 20px;
  color: white;
  font-family: Orbitron;
  transition: 0.5s;
}

.nomelogo:hover {
  scale: 1.05;
  color: white;
}

.nomelogo:active {
  color: white;
}

.banner {
  background-image: url(img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}
.banner-title {
  transform: translateY(150px);
}
.banner-end {
  transform: translateY(280px);
}

.thumnail {
  width: 257px;
  height: 257px;
}

.hover-media:hover {
  background-color: #f5f8fa;
}
/*--------------------------Grid template starts design for image gallery-----------------*/
.grid-template {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 10px;
}
.item-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.item-7 {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.item-9 {
  grid-row: 3 / 5;
}
.item-10 {
  grid-row: 3 / 5;
}
.item-11 {
  grid-column: 3/5;
  grid-row: 3 / 5;
}
.item-12 {
  grid-row: 3 / 5;
}

/*----------------------------------(This code Important for Modal sizing on large device)-----------------------------------*/
.modal-dialog {
  position: relative;
  width: auto;
  max-width: 600px;
  margin: 0 auto;
}

/*----------------------------------------------------------------------------------------------------------------------------*/

#btn-foto{
    border: none;
}
#btn-foto:hover{
    border: none;
}
#btn-foto:active{
    border: none;
}

